
.allParkDetails {
	font-family: arial;
	font-size: 16px;
	padding-left: 20px;
}

#parkName {
	color: red;
	font-size: 30px;
 	padding-top: 5px;
 	padding-bottom: 20px;
 	margin-top: -30px;
}

#description {
	padding-bottom: 20px;
	font-size: 16px;
	color: brown;
	padding-right: 200px;
}

#parkQuote{
	padding-bottom: 20px;
	font-style: italic;
	padding-right: 200px;
}

.tableLeft{
	display: inline-flex;
	padding-right: 200px;
}

.tableRight{
	display: inline-flex;
}

.wholeTable {
	display: inline-flex;
	padding-left: -20px;
	
}

#parkName {
	color: green;
	font-size: 48px;
}

.weatherSection{
	font-size: 12px;
	display: flex;
} 

.card-deck{
	text-align: center;
}

#warning {
	font-style: italic;
	font-size: 10px;
	color: red;
}

#tempWarnings {
	font-style: italic;
	font-size: 10px;
	color: red;
}

